body{
	background: #294a63;
}
label{
	color: #294a63;
}
button:focus{
	outline: none;
}
input.form-control:focus,select.form-control:focus,textarea.form-control:focus{
	border-color: #294a63;
	box-shadow: none;
}
.con{
	background-color: white;
	padding: 10px;
}
.tab_div{
	display: flex;
	justify-content: space-evenly;
}
.tab_div a.prof_a{
	border-bottom: 2px solid #294a63;
}
.tab_link{
	color: #294a63;
	font-weight: bold;
	font-size: 15px;
}
.tab_link:hover{
	text-decoration: none;
	color: black;
}
div.web_div,div.course_div,div.ac_div,div.addweb_div{
	display: none;
}
h4{
	margin-bottom: 0 !important;
}
hr.p_i{
	margin: auto 0;
	margin-bottom: 30px;
	border-bottom: 3px solid #294a63;
	width: 150px;
}
hr.web{
	margin: auto 0;
	margin-bottom: 30px;
	border-bottom: 3px solid #294a63;
	width: 70px;
}
hr.account{
	margin: auto 0;
	margin-bottom: 30px;
	border-bottom: 3px solid #294a63;
	width: 120px;
}
.web_input{
	border: none;
	background: transparent !important;
	outline: none;
	border-bottom: 2px solid black;
	border-radius: 0;
}
button.btn-dark,button.status_web_btn{
	padding: 0px;
	width: 70px;
	border-radius: 0;
	outline: none;
}
.mobileerr,.n_pwd_err,.rtn_pwd_err{
	display: none;
}
label i.fas,.tab_link i.fas{
	color: #294a63;
}
.help_i{
	color: #294a63;
	cursor: pointer;
}
@media only screen and (max-width: 580px) {
	.deact_div{
		left: 15px;
	}
}
@media only screen and (max-width: 460px) {
	div.btn_wrapper_div{
		display: flex !important;
		flex-direction: column !important;
	}
	div.btn_wrapper_div div:nth-child(1) {
		height: 40px;
	}
	div.btn_wrapper_div div:nth-child(2) {
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.websites_foreach_div,.websites_foreach_div_header{
		display: grid !important;
		grid-template-columns: auto auto auto !important;
		margin: 0;
		padding: 0;
	}
	.websites_foreach_div_header div{
		padding: 0;
		text-align: left !important
	}
}