body{
	background: #141E30;
}
label{
	color: #141E30;
}
.email_verify_form{
	padding: 20px;
}
h4{
	color: #141E30;
}
hr{
	border:1px solid #141E30;
	width: 150px;
}
input.form-control{
	border-radius: 30px
}
input.form-control:focus{
	border-color: black;
	box-shadow: none;
}
h4{
	font-weight: bold;
}
a.rsendcodebtn{
	text-decoration: none;
}
a.rsendcodebtn:hover{
	transform: scale(1.1);
	transition: transform .2s;
}
@media only screen and (max-width: 500px) {

}