body{
	background: #294a63;
	/* background: -webkit-linear-gradient(to right, #243B55, #294a63);
	background: linear-gradient(to right, #243B55, #294a63); */
}
label{
	color: black;
}
button:focus{
	outline: none;
}
input.form-control:focus,select.form-control:focus,textarea.form-control:focus{
	border-color: #294a63;
	box-shadow: none;
}