*{
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
body{
	background: #294a63 !important;
    color: #294a63 !important;;
}
div.con{
    height: 100vh;
}
div.content{
	/* border: 2px solid red; */
    text-align: center;
    padding-top: 20vh;
}
div.content i{
    font-size: 100px;
}
h1{
    margin: 0 !important;
    font-size: 5.5rem !important;
    font-weight: bolder !important;
    line-height: 1.5 !important;
}
h3{
    font-weight: bolder !important;
    line-height: 1.5 !important;
}
h4{
    font-weight: bolder !important;
    margin: auto 0 !important;
    line-height: 6 !important;
}