body{
	background: #294a63;
}
form.gen_link_form{
	display: none;
}
input[type=radio] {
	width: 100%;
	height: -webkit-fill-available;
}
label{
	font-weight: bolder;
	color: white;
}
button.genlinkbtn{
	display: none;
}
input.form-control:focus,textarea.form-control:focus{
	border-color: black;
	box-shadow: none;
}
@media only screen and (max-width: 500px) {
	form.gen_link_form{
		margin-top: 30px;
	}
	div.sendlinkdiv{
		text-align: center;
		border-radius: 0;
		margin-bottom: 40px;
	}
	button.sendlinkbtn{
		width: 50%;
	}
}