body{
	background-image: url('../../assets/images/login.jpg') !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.loginbox{
	padding-top: 60px;
}
.loginbtn{
	background: #294a63;
	/* text-transform: uppercase; */
}
.signup{
	text-align: right;
}
a.signupbtn{
	/* color: #294a63; */
	text-decoration: none;
	font-weight: bold;
}
a.signupbtn:hover{
	transform: scale(9);
	transition: .3s;
}