.log_wrapper {
	/* padding: 0 21px 21px 21px; */
	padding: 14px;
}

.tab_div {
	display: flex;
	/* justify-content: space-between; */
	padding: 0;
	margin-bottom: 14px;
	flex-wrap: wrap;
}

.tab_div a#actLogs {
	color: #294a63;
	font-weight: 500;
	border-bottom: 2px solid #294a63;
}

.tab_link {
	color: #294a63;
	padding: 5px 20px;
}

.tab_link:hover {
	color: #294a63 !important;
	text-decoration: none;
}
.info_div{
	margin-bottom: 21px;
}
.showPaymentI {
	color: #294a63;
}