h4{
	color: #294a63;
}
p{
	margin: 0 !important;
	font-weight: bold;
}
body{
	background: #294a63;
}
input.form-control:focus,textarea.form-control:focus{
	border-color: black;
	box-shadow: none;
}
hr.h_hr{
	margin-top: 0;
	border-top: 2px solid #294a63;
	width: 150px;
}
.form-control{
	border-radius: 0;
}
label{
	color: #294a63;;
	font-weight: bold;
}
div.btnlinkgrp{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
a.btn:hover{
	transform: scale(1.1);
	transition: transform .2s;
	background-color: #0B3954;
}
@media only screen and (max-width: 768px) {
	.col-md-5{
		margin-top: 130px;
		margin-bottom: 100px;
	}
	.second{
		margin-top: 15px;
	}

}