button.renewplanbtn{
	/* display: none; */
	color:white !important;
	background:#294a63 !important;
}
div.error{
	padding: 5px;
	color: white
}
button.close{
	color: black;
	outline: none;
}
button.close:hover{
	font-weight: bolder;
}
div.container-fluid{
	margin: 0
}
label{
	font-weight: bold;
}
div.card{
	border-radius: 0;
}
/*div.card:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: transform .2s;
}*/
.amount{
	font-size: 20px;
	border-radius: 50%;
	padding: 20px;
	margin: auto;
	color: white;
}
.payment_div p{
	color: #294a63;
}
.sub_btn{
	border-radius: 50px;
}
i.fas,i.far{
	margin-right: 6px;
}
div.card{
	margin-bottom: 40px;
}
i.fas,i.far{
	margin: auto;
}
div.col-md-6{
	text-align: center;
}
@media only screen and (max-width: 767px) {
	div.card:hover{
		transform: scale(1);
		cursor: pointer;
		transition: transform .2s;
	}
}
@media only screen and (min-width: 768px) {
	div.card:hover{
		transform: scale(1.1);
		cursor: pointer;
		transition: transform .2s;
	}
}