body{
	background: #141E30;
}
.wrapper_div{
	background-color: white;
}
i.fab{
	font-size: 15px;
}
a.btn{
	border-radius: 0;
}
a.wbratebtn{
	background:#141E30;
	width: 80%;
}
a.wbratebtn:hover{
	transition: .9s;
	transform: scale(1.1);
}