body{
	background-image: url('../../assets/images/css3-floating.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
button.tabbtn{
	width: 200px;
}
div.tab_info{
	margin-top: 20px;
	/*background-color: #BDBDBD*/
}
div.stars{
	margin: auto;
	color: #E65100;
	text-align: center;
}
div.col-md-4{
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #78909C
}
div.rbtn{
	margin-top: 0;
	border-bottom: 2px solid #78909C
}
label{
	font-weight: bolder;
	margin-bottom: 0;
}
span.font-weight-bolder{
	color: black
}
span.mb-0{
	color: red;
	font-weight: bolder;
}
@media only screen and (max-width: 600px) {
	/*div.tab_links{
		padding-right: 25%;
    padding-left: 25%;
	}*/
	.tabbtn{
	 	margin: 10px 20px 0px 20px;
	}
}