.set_wrapper {
	padding: 14px;
}
.frameImg {
	/* width: 60px;
	height: 60px;
	border-radius: 50%; */
	max-width: 60px;
	max-height: 60px;
}
.frameIcon{
	font-size: 20px;
}
.comp{
	font-weight: bold;
	color:#294a63;
}
div.stars{
	text-align: center;
	margin: 28px 0;
}
div.stars i{
	font-size: 30px;
	cursor: pointer;
}
div.i_div i.far, div.i_div i.fas{
	font-size: 50px;
}
div.stars i.fas{
	/* color: #E65100; */
	color: #294a63;
}
div.i_div{
	text-align: center;
	display: none;
}

.details{
	display: none;
}