
body{
	background: #141E30;
	background: -webkit-linear-gradient(to right, #243B55, #141E30)
	background: linear-gradient(to right, #243B55, #141E30);
}
input.form-control:focus,select.form-control:focus{
	border-color: black;
	box-shadow: none;
}
form,div.modal-content{
	background-color: #BDBDBD;
}
input.form-control,select.form-control{
	border-radius: 20px;
}
input.search_user{
	border: none;
	background-color: transparent; 
}
.form-control:focus {
	background-color: transparent; 
}
i.fas{
	cursor: pointer;
	margin: auto;
	position: 0;
}
i.fa-sort{
	color: white;
	font-size: 16px;
}
.editbtn:hover,.delbtn:hover{
	transform: scale(1.1);
	transition: transform .2s;
}
i.fa-sort:hover{
	transform: scale(1.3);
	transition: transform .2s;
}
button.bradius{
	border-radius: 0;
}
div.pwderr{
	display: none;
}
.modal-body{
	padding-top: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}
div.inh{
	width: 96px;
	text-align: center;
}
div.cmp{
	width: 150px;
}
@media only screen and (max-width: 362px) {
	div.btnactgrp{
		display: flex;
		flex-direction: column;
	}
	button.addnewuserbtn{
		margin-top: 5px
	}
}
@media only screen and (max-width: 500px) {
	h4.userheader{
		margin-bottom: 30px;
		margin-top: 20px;
	}
	div.btnactgrp{
		margin-bottom: 25px;
	}	
}
@media only screen and (max-width: 767px) {
	div.deptcol{
		margin-top: 10px;
	}
	label.gp{
		display: none;
	}	
}
@media only screen and (max-width: 992px) {
	div.pwddiv{
		display: flex;
		flex-direction: column;
	}
}