.wrapper_div {
	/* padding: 0 21px 21px 21px; */
	padding: 14px;
}

.addweb_form {
	padding: 20px;
}

hr.h_hr {
	border: 1px solid #294a63;
	width: 70px;
}

div.instruction_div div {
	font-weight: bolder;
}

.remove_web_i {
	cursor: pointer;
	font-weight: bolder;
	font-size: 15px;
}

button.add_allwebbtn {
	border-radius: 0;
	margin: auto;
}

@media only screen and (max-width: 500px) {}